:root {
  --white: #f0f0f0;
  --light-white: #dddddd;
  --green: #03b863;
  --dark-green: #036d3d;
  --active-green: #00964f;
  --yellow: goldenrod;
  --dark-yellow: #a37400;
  --active-yellow: #cc9600;
  --dark-gray: #4d4d4d;
}
