* {
  box-sizing: border-box;
}

body {
  background: var(--dark-gray);
}

.panel-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.main {
  display: flex;
  padding: 20px;
	justify-content: center;
}

.controls {
	margin-right: 20px;
}

.control {
  margin-bottom: 10px;
}

.control img {
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  background: var(--white);
  color: #8cdcdb;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.control > img {
  opacity: 0.5;
	width: 50px;
}

#color {
  -webkit-appearance: none;
  padding: 5px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: var(--white);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#color::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}
#color::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

canvas {
	background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	cursor: crosshair;
}

.radio_item{
  display: none !important;
}

.label_item {
  opacity: 0.5;
}

.radio_item:checked + label {
  opacity: 1;
}

label {
cursor: pointer;
}

.control .chosen {
  opacity: 1;
}

.control input[type=range] {
  -webkit-appearance: none;
  background-color: var(--white);
  width: 80px;
  height:10px;
  margin-top: 35px;
  margin-left: -15px;
  border-radius: 20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  z-index: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.control input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--yellow);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

input::placeholder {
	font-family: 'Indie Flower', cursive;
}

input:focus, button:focus {
  outline: none;
}

input:hover, .control, button, .panel-container img {
  cursor: pointer;
}

input[type="text"]:hover {
	cursor: text;
}

.footer {
  display: flex;
  justify-content: center;
}

button {
  margin-left: 30px;
  background: var(--yellow);
	font-family: inherit;
  border: none;
  padding: 5px 20px;
  font-size: 1em;
  box-shadow: -1px 1px 0px var(--dark-yellow),
              -2px 2px 0px var(--dark-yellow),
              -3px 3px 0px var(--dark-yellow),
              -4px 4px 0px var(--dark-yellow),
              -5px 5px 0px var(--dark-yellow);
}

button:active {
  background: var(--active-yellow);
  box-shadow: -1px 1px 0px rgba(0,0,0,0.12);
  transform: translateY(4px);
}

.eraser {
  cursor: url('../../assets/cursor/eraser.cur'), auto;
}

.search-bar {
  width: 100%;
  padding: 10px;
  background: goldenrod;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align: center;
}

.search-bar input {
  border: none;
  width: 500px;
  border-radius: 20px;
  font-size: 1em;
  padding: 10px 20px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75) inset;
}

.search-bar button {
  font-size: 0.7em;
  background: var(--green);
  box-shadow: -1px 1px 0px var(--dark-green),
              -2px 2px 0px var(--dark-green),
              -3px 3px 0px var(--dark-green),
              -4px 4px 0px var(--dark-green);
}

.search-bar button:active {
  background: var(--active-green);
  box-shadow: -1px 1px 0px rgba(0,0,0,0.12);
}

.search-results {
  padding: 10px;
  background: var(--light-white);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.search-results img {
  height: 50px;
	margin-right: 10px
}

.hidden {
	display: none;
}
