
* {
  font-family: 'Kodchasan', sans-serif;
}

nav {
  width: 100%;
}

.nav-bar {
  display:flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border: 1px solid rgba(238,238,238 ,1);
  border-radius: 5px;
  color: rgba(117,117,117 ,1);
  box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
}

ul {
  padding: 0;
  list-style: none;
}

h1 {
  text-align: center;
}

.nav-bar li {
  cursor: pointer;
}
.nav-bar li:hover{
  color: rgba(85,172,238 ,1);
}
.pencil {
  color: rgba(85,172,238 ,1);
  font-size: 2em;
  margin: 0 auto;
}
.nav-bar li:not(:last-child):not(.fa-search) {
  margin-right: 10px;
}
.nav-bar li  i:not(.fa-pencil-alt):not(.fa-search) {
  margin-right: 3px;
}
.nav-bar li > button {
  font-size: 1.2em;
  border: 0;
  background: rgba(85,172,238 ,1);
  color: #fff;
  border-radius: 100px;
}

main {
  height: 100vh;
}

.wrapper {
  display: flex;
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
}

.user-info {
  width: 50%;

}

.info {
  height: 20%;
  font-size : 1.5em;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.images {
  display: flex;
}

img {
  width: 20%;
  height: 10%;
}