.wrap * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.wrap {
  background: var(--yellow);
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.container {
  position: relative;
  width: 500px;
  padding: 50px 55px 15px 55px;
  border-radius: 15px;
  overflow: hidden;
  background: var(--white);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.container .background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
}
.logo {
  /* background: url("../../assets/main-icon.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100px;
  margin-bottom: 80px;
}

.label-input {
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}
.field {
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
.icon {
  position: relative;
  font-size: 25px;
  padding: 10px;
}
.wrap input {
  display: inline-block;
  font-size: 18px;
  padding: 4px;
  cursor: text;
  width: calc(100% - 40px);
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.wrap input ~ .focus-border {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--dark-gray);
  transition: 0.4s;
}
.wrap input:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}
#submit {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 50px;
  background: var(--green);
  box-shadow: -1px 1px 0px var(--dark-green),
              -2px 2px 0px var(--dark-green),
              -3px 3px 0px var(--dark-green),
              -4px 4px 0px var(--dark-green);
}
#submit:hover {
  background-position: right center;
  cursor: pointer;
}
.forgotPassword {
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
}
.forgotPassword:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 580px) {
  .logo {
    margin-bottom: 20px;
  }
  .container {
    width: 100vw;
    padding: 25px;
  }
}
@media (max-width: 370px) {
  .login-title {
    font-size: 20px;
  }
  .wrap input {
    font-size: 14px;
  }
}
@media (max-height: 650px) {
  .container {
    padding: 45px 40px 15px 40px;
    width: 450px;
  }
  .logo,
  #submit {
    margin-bottom: 30px;
  }
}
@media (max-height: 560px) {
  .login-title {
    font-size: 28px;
  }
  .field {
    margin-bottom: 30px;
  }
}
